html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  color: #363020;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  padding: 1em;
  background-color: #FF6542;
}

header>h1 {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  font-size: larger;
}

#middle {
  flex: 1;
  display: flex;
  overflow: hidden;
}

#middle>nav {
  flex: 0.5;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

#searchSection {
  background-color: #064789;
  color: white
}

#searchSection,
#searchResults,
#middle>nav>footer {
  padding: 1em
}

#middle>nav>footer {
  background-color: #064789;
  color: white;
}

#searchResults {
  flex: 1;
  overflow-y: auto;
  font-family: Arial, Helvetica, sans-serif;
}

#searchResults ul {
  list-style-type: square;
  padding-left: 1em;
}

#middle>main {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2em;
  background-color: #E2EFDE;
}

blockquote {
  word-wrap: break-word;
}

.seeAlsoLink {
  padding-right: 1em;
}

article pre {
  overflow-x: scroll;
  background-color: #c9dad1;
  padding: 1em;
  font-size: 12px;
}

.editor {
  display: flex;
  flex-direction: column;
  background-color: #AFD0BF;
}

.editor>textarea {
  padding: 1em;
  background-color: #c9dad1;
  font-family: monospace;
  font-size: 12px;
  resize: none;
}

.editor>pre {
  padding: 1em;
  overflow-x: scroll;
  background-color: #FF6542;
  color: white;
  margin: 0px;
  font-weight: bold;
}

.examples {
  background-color: #AFD0BF;
  padding: 1em;
  overflow-x: scroll;
}

h4 {
  color: #064789;
}

h3 {
  color: #064789;
  border-top: #AFD0BF solid 2px;
}

h2 {
  color: #FF6542;
}